
*{
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

$primary-color: #ff847c;
$primary-color-variant: #fecea8;
$secondary-color: #e84a5f;
$bg: #004195;
$sub-text-color: #fff;
$white-color: #ffffff;
$light-color: rgba(#a69cac, 0.7);
$black-color: #2a363b;
$dark-color: rgba($black-color, 0.7);
$success: #108f29;
$shadow: 5px 5px 10px #8181817d,-5px -5px 10px #f4f4f4;
$light-shadow: 4px 3px 4px rgb(171, 171, 171);
$container-lg: 82%;
$container-md: 90%;



